In [94]:
import json
import requests
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [4]:
with open('pbp_data/ATL-BKN-2019-03-10.json') as json_file:
    json_data = json.load(json_file)

In [7]:
len(json_data['periods'])

4

In [128]:
lc_df_list = []
for i in range(len(json_data['periods'])):
    pbp_df_i = pd.io.json.json_normalize(json_data['periods'][i]['events'])
    pbp_df_i['period'] = (i+1)
    lineup_change_df_i = pbp_df_i[(pbp_df_i['event_type'] == 'lineupchange') | (pbp_df_i['event_type'] == 'endperiod')]
    lineup_change_df_i = lineup_change_df_i[['home_points', 'away_points', 'clock',
                                             'on_court.home.players', 'on_court.away.players', 'period']]
    lineup_change_df_i = lineup_change_df_i.drop_duplicates(subset=['home_points', 'away_points', 'clock', 'period'], keep='last')
    lc_df_list.append(lineup_change_df_i)
               

lc_df = pd.concat(lc_df_list)
lc_shift_df = lc_df.shift(-1)
lc_shift_df.columns = ['end_' + str(col) for col in lc_shift_df.columns]
lc_df.columns = ['start_' + str(col) for col in lc_df.columns]
lc_lagged_df = pd.concat([lc_df, lc_shift_df], axis=1)
lc_lagged_df = lc_lagged_df[pd.notnull(lc_lagged_df['start_on_court.home.players'])]

start_clock_tuple = lc_lagged_df['start_clock'].str.split(':', expand=True).astype(int)
lc_lagged_df['start_timedelta'] = pd.to_timedelta(start_clock_tuple[0], unit='m') + pd.to_timedelta(start_clock_tuple[1], unit='s')

end_clock_tuple = lc_lagged_df['end_clock'].str.split(':', expand=True).astype(int)
lc_lagged_df['end_timedelta'] = pd.to_timedelta(end_clock_tuple[0], unit='m') + pd.to_timedelta(end_clock_tuple[1], unit='s')

lc_lagged_df['oncourt_time'] = (lc_lagged_df['start_timedelta'] - lc_lagged_df['end_timedelta']).astype('timedelta64[s]')

lc_lagged_df['start_home_point_diff'] = lc_lagged_df['start_home_points'] - lc_lagged_df['start_away_points']
lc_lagged_df['end_home_point_diff'] = lc_lagged_df['end_home_points'] - lc_lagged_df['end_away_points']
lc_lagged_df['home_plus_minus'] = lc_lagged_df['end_home_point_diff'] - lc_lagged_df['start_home_point_diff']

lc_lagged_df['start_away_point_diff'] = -lc_lagged_df['start_home_point_diff']
lc_lagged_df['end_away_point_diff'] = -lc_lagged_df['end_home_point_diff']
lc_lagged_df['away_plus_minus'] = -lc_lagged_df['home_plus_minus']

lc_lagged_df = lc_lagged_df[['start_home_points', 'start_away_points', 'start_clock',
       'start_on_court.home.players', 'start_on_court.away.players',
       'start_period', 'end_home_points', 'end_away_points', 'end_clock',
        'end_period', 'start_timedelta', 'end_timedelta', 'oncourt_time',
       'start_home_point_diff', 'end_home_point_diff', 'home_plus_minus',
       'start_away_point_diff', 'end_away_point_diff', 'away_plus_minus']]

In [130]:
lc_lagged_df.head()

,start_home_points,start_away_points,start_clock,start_on_court.home.players,start_on_court.away.players,start_period,end_home_points,end_away_points,end_clock,end_period,start_timedelta,end_timedelta,oncourt_time,start_home_point_diff,end_home_point_diff,home_plus_minus,start_away_point_diff,end_away_point_diff,away_plus_minus
1,0,0,12:00,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,11.0,10.0,6:52,1.0,00:12:00,00:06:52,308.0,0,1.0,1.0,0,-1.0,-1.0
53,11,10,6:52,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,14.0,13.0,5:45,1.0,00:06:52,00:05:45,67.0,1,1.0,0.0,-1,-1.0,-0.0
66,14,13,5:45,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",1,21.0,17.0,4:06,1.0,00:05:45,00:04:06,99.0,1,4.0,3.0,-1,-4.0,-3.0
80,21,17,4:06,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",1,21.0,20.0,2:42,1.0,00:04:06,00:02:42,84.0,4,1.0,-3.0,-4,-1.0,3.0
94,21,20,2:42,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,23.0,26.0,00:00,1.0,00:02:42,00:00:00,162.0,1,-3.0,-4.0,-1,3.0,4.0

In [143]:
for index, row in lc_lagged_df.iterrows():
    print("-----")
    i = 1
    for player in row['start_on_court.home.players']:
        print(player['full_name'])
        print(i)
        i = i + 1

-----
Trae Young
1
Kevin Huerter
2
Alex Len
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Trae Young
2
Kevin Huerter
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Trae Young
2
Kevin Huerter
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Kent Bazemore
2
Alex Len
3
Jaylen Adams
4
DeAndre' Bembry
5
-----
Justin Anderson
1
Kent Bazemore
2
Alex Len
3
Jaylen Adams
4
DeAndre' Bembry
5
-----
Kent Bazemore
1
Alex Len
2
Jaylen Adams
3
John Collins
4
DeAndre' Bembry
5
-----
Vince Carter
1
Kent Bazemore
2
Trae Young
3
Kevin Huerter
4
John Collins
5
-----
Vince Carter
1
Trae Young
2
Kevin Huerter
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Trae Young
2
Kevin Huerter
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Trae Young
2
Kevin Huerter
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Trae Young
2
Kevin Huerter
3
Alex Len
4
Taurean Prince
5
-----
Vince Carter
1
Trae Young
2
Alex Len
3
BJ Johnson
4
Taurean Prince
5
-----
Vince Carter
1
Trae Young
2
Alex Len
3
BJ Johnson
4
Taurean Prince
5
-----
Vince Carter
1
Jaylen Adams
2
BJ Johnson
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Jaylen Adams
2
BJ Johnson
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Jaylen Adams
2
BJ Johnson
3
John Collins
4
DeAndre' Bembry
5
-----
Vince Carter
1
Justin Anderson
2
Jaylen Adams
3
BJ Johnson
4
DeAndre' Bembry
5
-----
Trae Young
1
Kevin Huerter
2
Alex Len
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Trae Young
2
Kevin Huerter
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Trae Young
2
Tyler Zeller
3
DeAndre' Bembry
4
Taurean Prince
5
-----
Vince Carter
1
Kent Bazemore
2
Tyler Zeller
3
Jaylen Adams
4
DeAndre' Bembry
5
-----
Vince Carter
1
Kent Bazemore
2
Tyler Zeller
3
Jaylen Adams
4
DeAndre' Bembry
5
-----
Justin Anderson
1
Kent Bazemore
2
Tyler Zeller
3
Jaylen Adams
4
DeAndre' Bembry
5
-----
Kevin Huerter
1
Alex Len
2
Jaylen Adams
3
John Collins
4
DeAndre' Bembry
5
-----
Kevin Huerter
1
Alex Len
2
Jaylen Adams
3
John Collins
4
DeAndre' Bembry
5
-----
Vince Carter
1
Trae Young
2
Kevin Huerter
3
Alex Len
4
Taurean Prince
5
-----
Vince Carter
1
Trae Young
2
Kevin Huerter
3
Alex Len
4
Taurean Prince
5
-----
Vince Carter
1
Kent Bazemore
2
Trae Young
3
Alex Len
4
Taurean Prince
5
-----
Kent Bazemore
1
Trae Young
2
Alex Len
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Kent Bazemore
2
Trae Young
3
Alex Len
4
Taurean Prince
5
-----
Vince Carter
1
Kent Bazemore
2
Trae Young
3
John Collins
4
Taurean Prince
5
-----
Kent Bazemore
1
Trae Young
2
Alex Len
3
John Collins
4
Taurean Prince
5
-----
Trae Young
1
Kevin Huerter
2
Alex Len
3
John Collins
4
Taurean Prince
5
-----
Vince Carter
1
Trae Young
2
Kevin Huerter
3
John Collins
4
Taurean Prince
5

In [115]:
lc_lagged_df

,start_home_points,start_away_points,start_clock,start_on_court.home.players,start_on_court.away.players,start_period,end_home_points,end_away_points,end_clock,end_on_court.home.players,end_on_court.away.players,end_period,start_timedelta,end_timedelta,oncourt_time
1,0,0,12:00,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,11.0,10.0,6:52,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1.0,00:12:00,00:06:52,308.0
53,11,10,6:52,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,14.0,13.0,5:45,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",1.0,00:06:52,00:05:45,67.0
66,14,13,5:45,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",1,21.0,17.0,4:06,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",1.0,00:05:45,00:04:06,99.0
80,21,17,4:06,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",1,21.0,20.0,2:42,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1.0,00:04:06,00:02:42,84.0
94,21,20,2:42,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,23.0,26.0,00:00,NaN,NaN,1.0,00:02:42,00:00:00,162.0
1,23,26,12:00,"[{'full_name': 'Kent Bazemore', 'jersey_number...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2,26.0,31.0,9:42,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2.0,00:12:00,00:09:42,138.0
22,26,31,9:42,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2,27.0,32.0,7:59,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2.0,00:09:42,00:07:59,103.0
41,27,32,7:59,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2,29.0,32.0,7:27,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2.0,00:07:59,00:07:27,32.0
52,29,32,7:27,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2,31.0,34.0,6:55,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",2.0,00:07:27,00:06:55,32.0
63,31,34,6:55,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",2,32.0,35.0,6:46,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",2.0,00:06:55,00:06:46,9.0
67,32,35,6:46,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",2,35.0,38.0,5:39,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",2.0,00:06:46,00:05:39,67.0
80,35,38,5:39,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",2,36.0,38.0,5:32,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2.0,00:05:39,00:05:32,7.0
86,36,38,5:32,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2,41.0,46.0,3:50,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2.0,00:05:32,00:03:50,102.0
104,41,46,3:50,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2,43.0,47.0,3:28,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2.0,00:03:50,00:03:28,22.0
110,43,47,3:28,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2,45.0,52.0,1:46,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2.0,00:03:28,00:01:46,102.0
131,45,52,1:46,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2,47.0,56.0,00:26,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2.0,00:01:46,00:00:26,80.0
146,47,56,00:26,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2,47.0,56.0,00:00,NaN,NaN,2.0,00:00:26,00:00:00,26.0
1,47,56,12:00,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3,60.0,69.0,7:35,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3.0,00:12:00,00:07:35,265.0
52,60,69,7:35,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3,66.0,70.0,7:00,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",3.0,00:07:35,00:07:00,35.0
63,66,70,7:00,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",3,68.0,70.0,5:58,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",3.0,00:07:00,00:05:58,62.0
77,68,70,5:58,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",3,70.0,74.0,3:28,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3.0,00:05:58,00:03:28,150.0
104,70,74,3:28,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3,76.0,81.0,00:57,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3.0,00:03:28,00:00:57,151.0
131,76,81,00:57,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3,77.0,83.0,00:00,NaN,NaN,3.0,00:00:57,00:00:00,57.0
0,77,83,12:00,"[{'full_name': 'Kevin Huerter', 'jersey_number...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4,83.0,88.0,10:05,"[{'full_name': 'Kevin Huerter', 'jersey_number...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4.0,00:12:00,00:10:05,115.0
22,83,88,10:05,"[{'full_name': 'Kevin Huerter', 'jersey_number...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4,87.0,91.0,8:51,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4.0,00:10:05,00:08:51,74.0
37,87,91,8:51,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4,87.0,91.0,8:46,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4.0,00:08:51,00:08:46,5.0
39,87,91,8:46,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4,92.0,94.0,6:54,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4.0,00:08:46,00:06:54,112.0
67,92,94,6:54,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4,98.0,99.0,5:43,"[{'full_name': 'Kent Bazemore', 'jersey_number...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4.0,00:06:54,00:05:43,71.0
85,98,99,5:43,"[{'full_name': 'Kent Bazemore', 'jersey_number...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4,99.0,99.0,5:11,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4.0,00:05:43,00:05:11,32.0
95,99,99,5:11,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4,102.0,99.0,4:43,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",4.0,00:05:11,00:04:43,28.0
103,102,99,4:43,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",4,105.0,103.0,3:31,"[{'full_name': 'Kent Bazemore', 'jersey_number...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",4.0,00:04:43,00:03:31,72.0
120,105,103,3:31,"[{'full_name': 'Kent Bazemore', 'jersey_number...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",4,109.0,111.0,1:26,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",4.0,00:03:31,00:01:26,125.0
135,109,111,1:26,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",4,112.0,114.0,00:16,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4.0,00:01:26,00:00:16,70.0
167,112,114,00:16,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4,112.0,114.0,00:00,NaN,NaN,4.0,00:00:16,00:00:00,16.0

In [35]:
lineup_change_df = pbp_df[pbp_df['event_type'] == 'lineupchange']
lineup_change_df.head()
lineup_change_df[['home_points', 'away_points', 'clock', 'on_court.home.players', 'on_court.away.players', 'period']].head()

,home_points,away_points,clock,on_court.home.players,on_court.away.players,period
0,0,0,12:00,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
1,0,0,12:00,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
52,11,10,6:52,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
53,11,10,6:52,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
66,14,13,5:45,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",1

In [46]:
end_result_dict = {
    'home_points': json_data['home']['points'],
    'away_points': json_data['away']['points'],
    'clock': '00:00',
    'on_court.home.players': None,
    'on_court.away.players' : None,
    'period': 4
}
end_result_df = pd.DataFrame.from_dict(end_result_dict, orient='index')
end_result_df.transpose()

,home_points,away_points,clock,on_court.home.players,on_court.away.players,period
0,112,114,00:00,None,None,4

In [34]:
for index, row in lineup_change_df.iterrows():
    print("-------")
    print(row['on_court.away.players'][0]['full_name'])
    for i in row['on_court.away.players']:
        print(i['full_name'])

-------
Allen Crabbe
Allen Crabbe
Rodions Kurucs
D'Angelo Russell
Joe Harris
Jarrett Allen
-------
Allen Crabbe
Allen Crabbe
Rodions Kurucs
D'Angelo Russell
Joe Harris
Jarrett Allen
-------
Allen Crabbe
Allen Crabbe
D'Angelo Russell
DeMarre Carroll
Joe Harris
Jarrett Allen
-------
Allen Crabbe
Allen Crabbe
D'Angelo Russell
DeMarre Carroll
Joe Harris
Jarrett Allen
-------
D'Angelo Russell
D'Angelo Russell
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
DeMarre Carroll
DeMarre Carroll
Spencer Dinwiddie
Caris LeVert
Ed Davis
Joe Harris
-------
DeMarre Carroll
DeMarre Carroll
Spencer Dinwiddie
Caris LeVert
Ed Davis
Joe Harris
-------
DeMarre Carroll
DeMarre Carroll
Spencer Dinwiddie
Caris LeVert
Ed Davis
Joe Harris
-------
Allen Crabbe
Allen Crabbe
DeMarre Carroll
Spencer Dinwiddie
Caris LeVert
Ed Davis
-------
Allen Crabbe
Allen Crabbe
D'Angelo Russell
DeMarre Carroll
Caris LeVert
Ed Davis
-------
Allen Crabbe
Allen Crabbe
D'Angelo Russell
DeMarre Carroll
Caris LeVert
Ed Davis
-------
Allen Crabbe
Allen Crabbe
D'Angelo Russell
DeMarre Carroll
Caris LeVert
Ed Davis
-------
Allen Crabbe
Allen Crabbe
D'Angelo Russell
DeMarre Carroll
Caris LeVert
Ed Davis
-------
Allen Crabbe
Allen Crabbe
D'Angelo Russell
DeMarre Carroll
Spencer Dinwiddie
Ed Davis
-------
D'Angelo Russell
D'Angelo Russell
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
D'Angelo Russell
D'Angelo Russell
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
D'Angelo Russell
D'Angelo Russell
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
Rodions Kurucs
Rodions Kurucs
D'Angelo Russell
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
Rodions Kurucs
Rodions Kurucs
D'Angelo Russell
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
Rodions Kurucs
Rodions Kurucs
Spencer Dinwiddie
Caris LeVert
Joe Harris
Jarrett Allen
-------
Rodions Kurucs
Rodions Kurucs
Spencer Dinwiddie
Caris LeVert
Joe Harris
Jarrett Allen
-------
Rodions Kurucs
Rodions Kurucs
Spencer Dinwiddie
Caris LeVert
Joe Harris
Jarrett Allen
-------
Allen Crabbe
Allen Crabbe
Rodions Kurucs
D'Angelo Russell
Joe Harris
Jarrett Allen
-------
Allen Crabbe
Allen Crabbe
Rodions Kurucs
D'Angelo Russell
Joe Harris
Jarrett Allen
-------
Allen Crabbe
Allen Crabbe
D'Angelo Russell
DeMarre Carroll
Joe Harris
Jarrett Allen
-------
Allen Crabbe
Allen Crabbe
D'Angelo Russell
DeMarre Carroll
Joe Harris
Jarrett Allen
-------
D'Angelo Russell
D'Angelo Russell
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
D'Angelo Russell
D'Angelo Russell
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
DeMarre Carroll
DeMarre Carroll
Spencer Dinwiddie
Caris LeVert
Ed Davis
Joe Harris
-------
DeMarre Carroll
DeMarre Carroll
Spencer Dinwiddie
Caris LeVert
Ed Davis
Joe Harris
-------
Allen Crabbe
Allen Crabbe
DeMarre Carroll
Spencer Dinwiddie
Caris LeVert
Ed Davis
-------
Allen Crabbe
Allen Crabbe
DeMarre Carroll
Spencer Dinwiddie
Caris LeVert
Ed Davis
-------
Allen Crabbe
Allen Crabbe
DeMarre Carroll
Spencer Dinwiddie
Caris LeVert
Ed Davis
-------
Allen Crabbe
Allen Crabbe
Rodions Kurucs
Spencer Dinwiddie
Caris LeVert
Ed Davis
-------
Allen Crabbe
Allen Crabbe
Rodions Kurucs
D'Angelo Russell
Spencer Dinwiddie
Jarrett Allen
-------
Allen Crabbe
Allen Crabbe
Rodions Kurucs
D'Angelo Russell
Spencer Dinwiddie
Jarrett Allen
-------
Allen Crabbe
Allen Crabbe
Rodions Kurucs
D'Angelo Russell
Joe Harris
Jarrett Allen
-------
Rodions Kurucs
Rodions Kurucs
D'Angelo Russell
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
Rodions Kurucs
Rodions Kurucs
D'Angelo Russell
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
Rodions Kurucs
Rodions Kurucs
D'Angelo Russell
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
Rodions Kurucs
Rodions Kurucs
D'Angelo Russell
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
D'Angelo Russell
D'Angelo Russell
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
D'Angelo Russell
D'Angelo Russell
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
D'Angelo Russell
D'Angelo Russell
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
D'Angelo Russell
D'Angelo Russell
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
Rodions Kurucs
Rodions Kurucs
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen
-------
Rodions Kurucs
Rodions Kurucs
DeMarre Carroll
Spencer Dinwiddie
Joe Harris
Jarrett Allen

In [51]:
lc_df = pd.concat([lineup_change_df[['home_points', 'away_points', 'clock', 'on_court.home.players', 'on_court.away.players', 'period']], end_result_df.transpose()])
lc_df

,home_points,away_points,clock,on_court.home.players,on_court.away.players,period
0,0,0,12:00,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
1,0,0,12:00,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
52,11,10,6:52,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
53,11,10,6:52,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
66,14,13,5:45,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",1
79,21,17,4:06,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",1
80,21,17,4:06,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",1
93,21,20,2:42,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",1
94,21,20,2:42,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
0,23,26,12:00,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2
1,23,26,12:00,"[{'full_name': 'Kent Bazemore', 'jersey_number...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2
22,26,31,9:42,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2
41,27,32,7:59,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2
52,29,32,7:27,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2
63,31,34,6:55,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",2
67,32,35,6:46,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",2
80,35,38,5:39,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",2
86,36,38,5:32,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2
104,41,46,3:50,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2
110,43,47,3:28,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2
131,45,52,1:46,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2
146,47,56,00:26,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",2
0,47,56,12:00,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3
1,47,56,12:00,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3
51,60,69,7:35,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3
52,60,69,7:35,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3
62,66,70,7:00,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",3
63,66,70,7:00,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",3
76,68,70,5:58,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",3
77,68,70,5:58,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",3
104,70,74,3:28,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3
131,76,81,00:57,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",3
0,77,83,12:00,"[{'full_name': 'Kevin Huerter', 'jersey_number...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4
22,83,88,10:05,"[{'full_name': 'Kevin Huerter', 'jersey_number...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4
36,87,91,8:51,"[{'full_name': 'Kevin Huerter', 'jersey_number...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4
37,87,91,8:51,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4
39,87,91,8:46,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",4
66,92,94,6:54,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4
67,92,94,6:54,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4
85,98,99,5:43,"[{'full_name': 'Kent Bazemore', 'jersey_number...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4
95,99,99,5:11,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4
102,102,99,4:43,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",4
103,102,99,4:43,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",4
120,105,103,3:31,"[{'full_name': 'Kent Bazemore', 'jersey_number...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",4
135,109,111,1:26,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",4
166,112,114,00:16,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4
167,112,114,00:16,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Rodions Kurucs', 'jersey_numbe...",4
0,112,114,00:00,None,None,4

In [55]:
lc_df = lc_df.drop_duplicates(subset=['home_points', 'away_points', 'clock', 'period'], keep='last')

In [56]:
lc_shift_df = lc_df.shift(-1)
lc_shift_df.head()

,home_points,away_points,clock,on_court.home.players,on_court.away.players,period
1,11,10,6:52,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
53,14,13,5:45,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",1
66,21,17,4:06,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",1
80,21,20,2:42,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
94,23,26,12:00,"[{'full_name': 'Kent Bazemore', 'jersey_number...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2

In [57]:
lc_lagged_df = pd.concat([lc_df, lc_shift_df], axis=1)
lc_lagged_df.head()

,home_points,away_points,clock,on_court.home.players,on_court.away.players,period,home_points,away_points,clock,on_court.home.players,on_court.away.players,period
1,0,0,12:00,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,11,10,6:52,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
53,11,10,6:52,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,14,13,5:45,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",1
66,14,13,5:45,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",1,21,17,4:06,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",1
80,21,17,4:06,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",1,21,20,2:42,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1
94,21,20,2:42,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,23,26,12:00,"[{'full_name': 'Kent Bazemore', 'jersey_number...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",2

In [145]:
lc_lagged_df.head()

,start_home_points,start_away_points,start_clock,start_on_court.home.players,start_on_court.away.players,start_period,end_home_points,end_away_points,end_clock,end_period,start_timedelta,end_timedelta,oncourt_time,start_home_point_diff,end_home_point_diff,home_plus_minus,start_away_point_diff,end_away_point_diff,away_plus_minus
1,0,0,12:00,"[{'full_name': 'Trae Young', 'jersey_number': ...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,11.0,10.0,6:52,1.0,00:12:00,00:06:52,308.0,0,1.0,1.0,0,-1.0,-1.0
53,11,10,6:52,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,14.0,13.0,5:45,1.0,00:06:52,00:05:45,67.0,1,1.0,0.0,-1,-1.0,-0.0
66,14,13,5:45,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'D'Angelo Russell', 'jersey_num...",1,21.0,17.0,4:06,1.0,00:05:45,00:04:06,99.0,1,4.0,3.0,-1,-4.0,-3.0
80,21,17,4:06,"[{'full_name': 'Vince Carter', 'jersey_number'...","[{'full_name': 'DeMarre Carroll', 'jersey_numb...",1,21.0,20.0,2:42,1.0,00:04:06,00:02:42,84.0,4,1.0,-3.0,-4,-1.0,3.0
94,21,20,2:42,"[{'full_name': 'Justin Anderson', 'jersey_numb...","[{'full_name': 'Allen Crabbe', 'jersey_number'...",1,23.0,26.0,00:00,1.0,00:02:42,00:00:00,162.0,1,-3.0,-4.0,-1,3.0,4.0

In [144]:
lc_lagged_df[]

for index, row in lc_lagged_df.iterrows():
    row[]


    
    

for i in lc_lagged_df['start_on_court.home.players']:
    players = []
    for j in i:
        players.append(j['full_name'])
    print(players)

['Trae Young', 'Kevin Huerter', 'Alex Len', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Trae Young', 'Kevin Huerter', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Trae Young', 'Kevin Huerter', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Kent Bazemore', 'Alex Len', 'Jaylen Adams', "DeAndre' Bembry"]
['Justin Anderson', 'Kent Bazemore', 'Alex Len', 'Jaylen Adams', "DeAndre' Bembry"]
['Kent Bazemore', 'Alex Len', 'Jaylen Adams', 'John Collins', "DeAndre' Bembry"]
['Vince Carter', 'Kent Bazemore', 'Trae Young', 'Kevin Huerter', 'John Collins']
['Vince Carter', 'Trae Young', 'Kevin Huerter', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Trae Young', 'Kevin Huerter', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Trae Young', 'Kevin Huerter', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Trae Young', 'Kevin Huerter', 'Alex Len', 'Taurean Prince']
['Vince Carter', 'Trae Young', 'Alex Len', 'BJ Johnson', 'Taurean Prince']
['Vince Carter', 'Trae Young', 'Alex Len', 'BJ Johnson', 'Taurean Prince']
['Vince Carter', 'Jaylen Adams', 'BJ Johnson', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Jaylen Adams', 'BJ Johnson', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Jaylen Adams', 'BJ Johnson', 'John Collins', "DeAndre' Bembry"]
['Vince Carter', 'Justin Anderson', 'Jaylen Adams', 'BJ Johnson', "DeAndre' Bembry"]
['Trae Young', 'Kevin Huerter', 'Alex Len', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Trae Young', 'Kevin Huerter', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Trae Young', 'Tyler Zeller', "DeAndre' Bembry", 'Taurean Prince']
['Vince Carter', 'Kent Bazemore', 'Tyler Zeller', 'Jaylen Adams', "DeAndre' Bembry"]
['Vince Carter', 'Kent Bazemore', 'Tyler Zeller', 'Jaylen Adams', "DeAndre' Bembry"]
['Justin Anderson', 'Kent Bazemore', 'Tyler Zeller', 'Jaylen Adams', "DeAndre' Bembry"]
['Kevin Huerter', 'Alex Len', 'Jaylen Adams', 'John Collins', "DeAndre' Bembry"]
['Kevin Huerter', 'Alex Len', 'Jaylen Adams', 'John Collins', "DeAndre' Bembry"]
['Vince Carter', 'Trae Young', 'Kevin Huerter', 'Alex Len', 'Taurean Prince']
['Vince Carter', 'Trae Young', 'Kevin Huerter', 'Alex Len', 'Taurean Prince']
['Vince Carter', 'Kent Bazemore', 'Trae Young', 'Alex Len', 'Taurean Prince']
['Kent Bazemore', 'Trae Young', 'Alex Len', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Kent Bazemore', 'Trae Young', 'Alex Len', 'Taurean Prince']
['Vince Carter', 'Kent Bazemore', 'Trae Young', 'John Collins', 'Taurean Prince']
['Kent Bazemore', 'Trae Young', 'Alex Len', 'John Collins', 'Taurean Prince']
['Trae Young', 'Kevin Huerter', 'Alex Len', 'John Collins', 'Taurean Prince']
['Vince Carter', 'Trae Young', 'Kevin Huerter', 'John Collins', 'Taurean Prince']